#navigation {
    margin: auto;
    width: 25%;
    background-color: #4545e6;
    border: 3px #24099b;
}

a:link {
    color: #0afcfc;
    padding-left: 10px;
    padding-right: 10px;
}

a:visited {
    color: #969696;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover {
    color: #fd1dfd;
}

h1 {
    align-content: center;
}

h2 {
    background-color: #62b48b;
    color: #ffffff;
}

.title {
    font-size: 48px;
    font-style: italic;
}

.testerino {
    background-color: #d42828;
    color: #ababab
}

.hello {
    background-color: #05948d;
    color: #7a9184b0
}

/* aligning won't work for some reason...*/
.center_box {
    margin: auto;
    border: 3px black;
}

.actual_text {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.text-center-additional {
    margin:auto;
    width: 60%;
}

.blog-content {
    font-family: "Verdana";
    font-size: 14px;
    color: #4545e6;
}

.blog-nav {
    font-family: "Verdana";
    font-size: 12px;
    color: #000000;
    list-style-type: none;
}