#navigation {
    color: #ffffff;
}

h2 {
    background-color: #62b48b;
    color: #ffffff;
}

.testerino {
    background-color: rgb(212, 40, 40);
    color: #ababab
}

.hello {
    background-color: #05948d;
    color: #7a9184b0
}